body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fc1e8a;
    user-select: none;
}

.container {
    color: #fff;
    width: 600px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: linear-gradient(
    325deg,
    #03001e 0%,
    #7303c0 30%,
    #ec38bc 70%,
    #fdeff9 100%
    );
    padding: 40px 60px;
}

.ralph {
    padding: 15px 20px;
    width: 450px;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.ralph:hover {
    height: 53px;
    font-family: "Press Start 2P", cursive;
    font-size: 100%;
    color: #ec38bc;
    background-image: url(./jogo-detona-ralf/src/images/ralph.png);
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: right;
}

.memoria {
    padding: 15px 20px;
    width: 450px;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.memoria:hover {
    color: #ec38bc;
    background-image: url(./jogo-da-memória/src/images/icon-memory.png);
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: right;
}